{% extends "::base.html.twig" %}

{% block title %}ReclamationBundle:Reclamation:Affiche{% endblock %}

{% block body %}
    <strong>Liste des voitures</strong>
    <table border="1"><tr><td>Id</td><td>Serie</td><td>Couleur</td><td>Date</td><td>Marque</td><td>Suppression</td><td>Modification</td></tr>
        {% for p in produit %}
            <tr><td>{{ p.id }}</td><td>{{ p.nomp}}</td>
                <td><a href="{{ path('reclamation_Reclamation',{'id':p.id}) }}">update here</a></td>*/

            </tr>

        {% endfor %}
    </table>
{% endblock %}
